html {
}

body {
	margin: 0px auto;
	max-width: 1000px;
	font-family: courier;
}

a {
	vertical-align: middle;
	text-decoration: none;
	color: #000;
}

a:hover {
	font-weight: bold;
}

.menuItem {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#menu_selected {
	color: #777;
}

#banner {
	margin: 50px auto;
	text-align: center;
}

#menu {
	text-align: center;
	height: 40px;
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
}

#about_me {
	height: 400px;
}

#social_links {
	display: inline-block;
}

.article_separator {
	text-align: center;
}

.blog_post {
	margin: 50px auto;
	font-size: 20px;
}

.blog_post:hover {
	color: #777;
}

.blog_post_title {
	font-size: 30px;
}

footer {
	text-align: center;
	bottom: 10px;
}