@font-face {
    font-family: SFBlack;
    src: url(fonts/SF-UI-Display-Black.otf);
}

@font-face {
    font-family: SFMedium;
    src: url(fonts/SF-UI-Display-Medium.otf);
}

html {
}

body {
	margin: 0px auto;
	max-width: 1000px;
	font-family: SFMedium;
	background-color: #fff;
	color: #333;
}

a {
	vertical-align: middle;
	text-decoration: none;
	color: #333;
}

.inline_link {
	text-decoration: underline;
}

.menuItem {
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}

.menuItem a:hover {
	color: #777;
}

#menu_selected {
	color: #a33;
}

#banner {
	margin: 50px auto;
	font-family: courier;
}

#banner h1 {
	font-family: SFBlack;
	font-size: 40px;	
}

#menu {
	text-align: center;
	height: 40px;
	background-color: #e2e2e2;
}

#about_me {
	height: 400px;
}

.bible_citation {
	padding: 30px;
	font-weight: 100;
	font-size: 20px;
	color: #777;
}

#social_links {
	display: inline-block;
}

#social_links a {
	margin: 5px;
}

.inline-link {
	font-weight: bold;
	text-decoration: underline;
}

.article_separator {
	text-align: center;
}

.shadow-box {
	box-shadow: 0px 3px 4px #080808;
}

#blog {
}

.blog_post {
	background-color: #f2f2f2;
	margin: 50px auto;
	padding: 50px;
	font-size: 20px;
}

a .blog_post:hover {
	color: #000;
	background-color: #e2e2e2;
}

.blog_post_title {
	font-size: 30px;
}

footer {
	text-align: center;
	bottom: 10px;
}